134/Version2014/Demo/ExchangeRates.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExchangeRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Type" type="xs:string" />
              <xs:element minOccurs="0" name="rate" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>